{% extends "__layout.html" %}

{% block content %}
<div class="row">
	{% include 'includes/_navbar.html' %}
	<br/>
	{% include 'includes/_messages.html' %}
</div>
<div class="row">
	<div class="shadow p-3 mb-5 bg-body rounded">
		<h3>Add New Post!</h3>
		<hr>
	<form method="post">
		{{ form.hidden_tag() }}
		{{ form.title.label(class="form-label") }}
		{{ form.title(class="form-control", value=post.title) }}
		<br>
		{{ form.slug.label(class="form-label") }}
		{{ form.slug(class="form-control", value=post.slug) }}
		<br>
		{{ form.content.label(class="form-label") }}
		{{ form.content(class="form-control", rows="7", value=post.content) }}
		<br>
		{{ form.submit(class="btn btn-secondary") }}
	</form>

	</div>
</div>

{% endblock %}
