{% extends "__layout.html" %}

{% block content %}
<div class="row">
	{% include 'includes/_navbar.html' %}
	<br/>
	{% include 'includes/_messages.html' %}
</div>

	<div class="row">
		<div class="col col-md-4">
			<h1>Profile page!</h1>
			<hr>
			<p><strong>User Id:</strong> {{ current_user.id }}</p>
			<p><strong>Name:</strong> {{ current_user.name }}</p>
			<p><strong>E-Mail:</strong> {{ current_user.email }}</p>
			<p><strong>Date joined:</strong> {{ current_user.created }}</p>
			<hr>
			<div class="btn-group">
				<a href="{{ url_for('user_update', id=current_user.id) }}" class="btn btn-sm btn-outline-secondary">Update Profile</a>
				<a href="{{ url_for('user_delete', id=current_user.id) }}" class="btn btn-sm btn-outline-secondary">Delete Profile</a>
				<a href="{{ url_for('user_logout') }}" class="btn btn-sm btn-outline-secondary">Logout</a>
			</div>
		</div>
		<div class="col col-md-8">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Slug</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
	{% for your_post in your_posts %}
				<tr>
					<td scope="row">{{ your_post.id }}</td>
					<td>{{ your_post.title }}</td>
					<td>{{ your_post.slug }}</td>
					<td>
						<a href="{{ url_for('post_read_more', id=your_post.id) }}">Read</a>
						-
						<a href="{{ url_for('post_update', id=your_post.id) }}">Update</a>
						-
						<a href="{{ url_for('post_delete', id=your_post.id) }}">Delete</a>
					</td>
				</tr>
	{% endfor %}
			</tbody>
		</table>
		</div>
	</div>

{% endblock %}
